@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* background-color: ; */
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    /* text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #e4e4e4;

}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);

}

a {
    text-decoration: none;

}

::-webkit-scrollbar {
    width: 357rem;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}



/* .navbar carete */
section {
    padding: 3.125rem 0;
}

.main-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: .357rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transform: all 0.3s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
}

h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);


}

h3 {
    margin-bottom: 1.875rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

span {
    color: var(--secondary-color);
}

h5 {
    font-size: 1.5rem;
    line-height: 1;
    color: var(--primary-text);
    font-weight: 500;
    font-family: var(--secondary-font);
}

h6 {
    font-size: 875rem;
    color: var(--primary-text);
    margin-bottom: 9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);

}

p {
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
}

section title ::after {
    content: '';
    background-image: url(/18_Hotel_images/title-icon.webp);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: 9375rem;
}

.header-warper .navbar {
    padding: .9375rem 0;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 .5rem .375rem rgb(0 0 0 / 40%);
    box-shadow: 0.5rem .375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;


}

.header-warper .navbar-toggler {
    border: 0;
    color: var(--primary-color);
    line-height: 2;
}

.header-warper .navbar-toggler :focus {
    box-shadow: none;
}

.header-warper .nav-item {
    margin: 0 .625rem;

}

.header-warper .nav-item .nav-link {
    font-size: 1rem;
    color: var(--primary-text);
    display: inline-block;
    font-weight: 500;
}

.header-warper .nav-item .nav-link:hover,
.header-warper .nav-item .nav-link:active {
    color: var(--secondary-color);
}

.navbar .header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .85);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;

}

@keyframes fadeInDown {
    0% {
        top: -30%;

    }

    50% {
        top: -15%;
    }

    100% {
        top: 0%;
    }
}


.banner_wrapper {
    height: 40.625rem;
}

.banner_wrapper .swiper {
    width: 100%;
    height: 100%;
}

.banner_wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_wrapper .swiper-slide ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.1;
    z-index: 0;

}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullets {
    width: 9376rem;
    height: 9375rem;
    background-color: var(--secondary-color);
    border: 0.0625rem solid var(--bg-white);
}

.banner_wrapper .swiper .slid-caption {
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_wrapper .swiper .slid-caption p {
    max-width: 37, 5rem;
    margin: 0 auto;
    color: var(--text-white);
    font-weight: 400;
}

.booking-area {
    background: var(--bg-white);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 /10%);
    margin-top: -4rem;
    padding: 3. 125rem 1.875rem;
    z-index: 999999;
    position: relative;


}

.booking-area .form-control,
.booking-area .form-select {
    border: .0625rem solid var(--primary-color);
    height: 2.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    color: var(--text-black);
    font-weight: 500;
}

.About-wrapper {
    padding-top: 9.375rem;

}